<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} [%t] %C{1} %-5p - %m%n"/>
    </Console>
	<RollingFile name="ApplicationLog" fileName="${sys:thy.appdir}/mercury-console/log/info.lg" 
		filePattern="${sys:thy.appdir}/mercury-console/log/info_%d{yyyy-MM-dd}.lg">
       <PatternLayout>
           <Pattern>%d{dd MMM yyyy HH:mm:ss,SSS} [%t] %C{1} %-5p - %m%n</Pattern>
       </PatternLayout>
       <Policies>
       	   <SizeBasedTriggeringPolicy size="10 MB" />
           <TimeBasedTriggeringPolicy interval="50"/>
       </Policies>
       <DefaultRolloverStrategy/>
    </RollingFile> 
	<RollingFile name="ErrorLog" fileName="${sys:thy.appdir}/mercury-console/log/error.lg" 
		filePattern="${sys:thy.appdir}/mercury-console/log/error_%d{yyyy-MM-dd}.lg">
       <PatternLayout>
           <Pattern>%d{dd MMM yyyy HH:mm:ss,SSS} [%t] %C{1} %-5p - %m%n</Pattern>
       </PatternLayout>
       <Policies>
       	   <SizeBasedTriggeringPolicy size="10 MB" />
           <TimeBasedTriggeringPolicy interval="50"/>
       </Policies>
       <DefaultRolloverStrategy/>
    </RollingFile>           
  </Appenders>
  <Loggers>
    <Root level="ALL">
      <AppenderRef ref="Console" level="INFO"/>
      <AppenderRef ref="ApplicationLog" level="INFO"/>
      <AppenderRef ref="ErrorLog" level="ERROR"/>
    </Root>
  </Loggers>
</Configuration>
